<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halodoc.halodoc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Halodoc2">
        <activity android:name=".ui.consultation.ConsultationMedRecActivity"></activity>
        <activity android:name=".ui.home.lainnya.EmailKamiActivity" />
        <activity android:name=".ui.home.lainnya.BantuanActivity" />
        <activity android:name=".ui.home.lainnya.LokasiTersimpanActivity" />
        <activity android:name=".ui.home.lainnya.DevelopmentActivity" />
        <activity android:name=".ui.consultation.ConsultationNoteActivity" />
        <activity android:name=".ui.home.tokokesehatan.TokoKesehatanPaymentActivity" />
        <activity android:name=".ui.home.tokokesehatan.TokoKesehatanDetailActivity" />
        <activity android:name=".ui.home.tokokesehatan.TokoKesehatanActivity" />
        <activity android:name=".ui.transaction.TransactionDetailActivity" />
        <activity android:name=".ui.consultation.ConsultationPaymentActivity" />
        <activity android:name=".ui.consultation.chat.ConsultationChatActivity" />
        <activity android:name=".ui.home.konsultasi.ConsultationWithDoctorDetailActivity" />
        <activity android:name=".ui.home.konsultasi.VerifiedDoctorDetailActivity" />
        <activity android:name=".ui.home.konsultasi.VerifiedDoctorActivity" />
        <activity android:name=".ui.home.konsultasi.ConsultationWithDoctorActivity" />
        <activity android:name=".ui.home.konsultasi.AddDoctorActivity" />
        <activity android:name=".ui.home.konsultasi.ConsultationDashboardActivity" />
        <activity android:name=".ui.buatjanji.BuatJanjiDetailActivity" />
        <activity android:name=".ui.home.buatjanji.HospitalPaymentActivity" />
        <activity android:name=".ui.home.buatjanji.HospitalDetailActivity" />
        <activity android:name=".ui.home.buatjanji.HospitalActivity" />
        <activity android:name=".ui.home.lainnya.MenuLainnyaActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>